# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SIT215 Artificial and Computational Intelligence\Taxi problem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
